@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-blue {
    @apply bg-transparent hover:bg-violet-700 text-violet-700 font-semibold hover:text-white py-1 px-4 border border-violet-700 hover:border-transparent rounded;
}

.input {
    @apply mb-1 mt-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500;
}

.nav {
    height: 5rem;
    background-color: rgb(109 40 217);
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    justify-content: space-between;
    color: white;
}

.nav-list {
    display: flex;
    align-items: center;
    margin: 0 50px 0 0;
}

.nav-list__element {
    margin: 0 30px;
    @apply mr-5 p-0.5 border-b-white
}

/*.nav-list__element:hover {*/
/*    @apply mr-2 p-0.5 border-b-white cursor-pointer*/
/*}*/

.form {
    @apply flex flex-col justify-center align-middle mr-2 ml-2 mt-24
}

.label {
    @apply mt-2 mb-2
}

.form-button {
    @apply self-center mt-2
}

.card-container {
    @apply flex flex-wrap justify-center
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    @apply min-w-96 rounded border-gray-500 border p-3 m-3 pb-10
}

.section {
    @apply mb-10 mt-28
}

.error {
    @apply text-red-400 text-xs
}

.delete {
    @apply bg-transparent hover:bg-gray-700 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-700 hover:border-transparent rounded;
}

.bold-text {
    @apply font-bold
}

.break-line {
    @apply mt-2 mb-2;
}

.active {
    background-color: #ae88dc;
    padding: 10px;
    border-radius: 5px;
}

.btn-gray {
    @apply bg-transparent hover:bg-gray-700 text-gray-700 font-semibold hover:text-white py-1 px-4 border border-gray-700 hover:border-transparent rounded;
}

.user-container {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 520px) {
    .section {
        margin: 5rem auto;
        max-width: 60vw;
    }
}

@media screen and (min-width: 920px) {
    .section {
        margin: 5rem auto;
        max-width: 40vw;
    }
}

@media screen and (min-width: 1200px) {
    .date-time-picker__wrapper {
        display: flex;
        justify-content: space-between;
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}

.button-container {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 5px;
    align-self: flex-end;
}

.logo{
    width: 60px;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-container h1{
    font-size: 20px;
}
.nav button{
    padding-right: 20px;
}